.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  .weekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 15px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;

    div {
      display: flex;
      justify-content: center;
      color: #444444;
    }
  }

  .monthDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}
