.App {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 65%;
  height: 80%;
  border-radius: 25px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
